<score #score></score>
<grid #grid (onMakeTurn)="makeTurn($event)"></grid>
<div *ngIf="!gameOver">
  <div *ngIf="isMyTurn">
    Your turn
    <div>
      <button (click)="resign()">Resign</button>
      <button (click)="requestDraw()" [disabled]="opponentDeclinedDraw">Request Draw</button>
      <button (click)="finish()">Finish</button>
    </div>
  </div>
  <div *ngIf="!isMyTurn && !opponentRequestsDraw">
    Your opponent's turn, wait...
    <div class="loader"></div>
  </div>

</div>
<div *ngIf="opponentRequestsDraw">
  Opponent requests draw.
  <button (click)="declineDraw()">Decline</button>
  <button (click)="confirmDraw()">Confirm</button>
</div>
<div *ngIf="!finished">
  <div *ngIf="opponentFinished">Opponent has finished the game.</div>
  <div *ngIf="finished">You have finished the game.</div>
</div>
<div *ngIf="opponentDeclinedDraw">Opponent declines draw.</div>
<div *ngIf="resigned">You have resigned.</div>
<div *ngIf="opponentResigned">Opponent has resigned.</div>
<div *ngIf="gameOver">
  <div *ngIf="draw">Draw.</div>
  <div *ngIf="!draw">
    <div *ngIf="win">You win!</div>
    <div *ngIf="!win">You lose.</div>
  </div>
  <div>
    <button (click)="quit()">Quit</button>
  </div>
</div>
